extends layout

block content
    h1= title
    form(action= url method="DELETE")
        li #{ nome }
            button.btn.btn-primary(type='submit') borrar
    h2 Editar
        form(action= url2 method="PUT")
            input(type="text" name='editar' id='nombre' lavel='editar')
            button(type='submit') Editar
    form(action="/" method="method")
        button.btn.btn-primary(atype='submit') volver