extends layout

block content
  div(class="container")
    h1= title
    form(action= url method="DELETE")
        li #{ nome }
           ul
            button.btn.btn-secondary.btn-sm(type='submit') eliminar
    h2 Editar
    form(action= url2 method="PUT")
        input(type="text" class='form' name='editar' id='nombre' lavel='editar')
        button.btn.btn-secondary.btn-sm(type='submit') Editar
    
    
    form(action="/" method="method")
        button.btn.btn-secondary.btn-sm(atype='submit') volver