extends layout

block content
  div(class="container")
    div(class="row")
    h1= title 
    - for (var i = 0; i < nome.length; i++)
      div(class="col-4")
        form(action="/" + nome[i].id)
          li #{nome[i].nombre}  
            ul
             button.btn.btn-secondary.btn-sm(type='submit') Editar o Borrar

    h2 Nuevo
    form(action="/new" method="POST")
      input(type="text" name="nuevop" id="nombre" lavel="nuevop")
      button.btn.btn-secondary.btn-sm(type='submit') Añadir
